/AsyncData/
/googletest/
/Http/
/HttpNetworkTransport/
/Json/
/LibreSSL/
/MessageHeaders/
/StringExtensions/
/SystemAbstractions/
/Timekeeping/
/TlsDecorator/
/Uri/
/Utf8/
/zlib/

/.vscode/

/build*/
/stage/
